<form method="POST">

    <div class="mb-3">
        <label>Nome</label>

        <input
            type="text"
            name="nome"
            class="form-control"
            value="{{ cliente.nome }}">
    </div>

    <div class="mb-3">
        <label>CPF</label>

        <input
            type="text"
            name="cpf"
            class="form-control"
            value="{{ cliente.cpf }}">
    </div>

    <div class="mb-3">
        <label>Whatsapp</label>

        <input
            type="text"
            name="whatsapp"
            class="form-control"
            value="{{ cliente.whatsapp }}">
    </div>

    <div class="mb-3">
        <label>E-mail</label>

        <input
            type="email"
            name="email"
            class="form-control"
            value="{{ cliente.email }}">
    </div>

    <div class="mb-3">
        <label>Observações</label>

        <textarea
            name="observacoes"
            class="form-control"
            rows="4">{{ cliente.observacoes }}</textarea>
    </div>

    <button
        type="submit"
        class="btn btn-primary">
        Salvar Alterações
    </button>

</form>