{% extends "base.html" %}

{% block titulo %}
Clientes
{% endblock %}

{% block conteudo %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h2>Clientes Cadastrados</h2>

    <a href="/clientes/cadastrar" class="btn btn-success">
        Novo Cliente
    </a>

</div>

<div class="card shadow">

    <div class="card-body">

        <table class="table table-hover">

            <thead>

                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Whatsapp</th>
                    <th>E-mail</th>
                </tr>

            </thead>

            <tbody>

                {% for cliente in clientes %}

                <tr>
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.cpf }}</td>
                    <td>{{ cliente.whatsapp }}</td>
                    <td>{{ cliente.email }}</td>

                </tr>

                {% endfor %}

            </tbody>

        </table>
        

    </div>

</div>

{% endblock %}